<table width="100%" style="border-collapse:collapse; page-break-inside:avoid;" cellpadding="1">
  <tr>
    <td style="font-family:'Roboto','Arial','Calibri',sans-serif; font-size:12px; color:black; font-weight:500;">
      Terms & Conditions
    </td>
  </tr>
  <tr>
    <td style="font-family:'Roboto','Arial','Calibri',sans-serif; font-size:12px; color:black; font-weight:normal;">
      #clauseTextA
    </td>
  </tr>
</table>
<table width="100%" style="margin-bottom:5mm; border-collapse:collapse;" cellpadding="1">
  <tr>
    <td style="font-family:'Roboto','Arial','Calibri',sans-serif; font-size:12px; color:black; font-weight:normal;">
        #clauseTextB
    </td>
  </tr>
</table>
