body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif; font-size: 9pt; line-height: normal; color: black; display: block;
}
.header {
  height: 15%; top: 0; margin: 0; padding: 0;
}

.logo {
  content: url('images/CEMEX-logo.png'); top: 0; left: 0; width: 25%; height: 47%; margin: 0 0 4mm 0; padding: 0;
}
.oneLine {
  margin: 0 0 3mm 0; padding: 0;
}
.regularLine {
  margin: 0 0 1mm 0; padding: 0;
}
.label {
  font-weight: bold; margin-right: 2mm;
}
.customer {
  float: left; width: 40%; height: 14%;
}
.quoteInfo {
  float: right; width: auto; height: 14%;
}
.A4 {
  background: white; width: 21cm; height: 29.7cm; display: block; margin: 0 auto; padding: 10mm; box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); overflow-y: scroll; box-sizing: border-box;
}


@media print {
  body {
    page-break-before: always;
    margin: 0;
    padding: 0;
  }
}

/*
@media print {
  @page {
    size: A4;
    size: portrait;
    padding-left: 20mm;
    padding-right: 20mm;
    padding-top: 20mm;
    padding-bottom: 20mm;
  }
}

@media print {
  body {
    margin: 0;
  }
  .A4 {
    box-shadow: none;
    margin: 0;
    width: 21cm;
    height: 29.7cm;
  }
  .noprint {
    display: none;
  }
  .enable-print {
    display: block;
  }
}
*/
