tutorials {
  color: green;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 0px 1em;
  background-color: white;
}

tutorial {
  display: block;
  margin-bottom: 1em;
}

name {
  display: block;
  font-weight: bold;
  font-size: 150%;
}

